<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lr.css')}}">
</head>
<body>
    <div class="main-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/online-security.png')}}" alt="Logo ND Scan" class="logo">
            <h1 class="site-name">ND Scan</h1>
        </div>
        <div class="form-container">
            <h2>Inscription</h2>
            <form method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Register</button>
            </form>
            <a href="index.html" class="back-link">Retour</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>











